.player{
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span{
        font-size: 32px;
        margin-left: 16px;
    }

    background-color: rgb(50, 50, 50, 0.8), ;

    img{
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;

    }

}

.playerActive{
    background-color: orange !important;
}